<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{ form_start(form) }}
{{ form_widget(form) }}

<input type="submit" value="Create"
       class="btn btn-default pull-right" />
{{ form_end(form) }}
</body>
</html>