<!DOCTYPE html>
<html ng-app>
<head>
    <title>Tour Review</title>
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="stylesheet" href="/styles/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tour Review</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Статьи</a></li>
                <li><a href="catalog-list.html">Профайл</a></li>
                <li><a href="">Маршруты</a></li>
                <li><a href="">Новости</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Вход</a></li>
                <li><a href="">Регитсрация</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 list-articles">
            <div class="col-md-4">
                <img src="/images/malaya_ricca.jpeg">
            </div>
            <div class="col-md-8">
                <h1>Малая Рица <small>/ Абхазия</small> </h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
                <a href="catalog-info.html">Посмотреть</a>
                <ul class="list-inline">
                    <li class="col-md-3">Алена Белокурская</li>
                    <li class="col-md-3">5 просмотров</li>
                    <li class="col-md-3">10 комментариев</li>
                    <li class="col-md-3">опубликовано: 17.05.2015</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 list-articles">
            <div class="col-md-4">
                <img src="/images/matterhorn.JPG">
            </div>
            <div class="col-md-8">
                <h1>Маттерхорн <small>/ Граница Швейцарии и Италии</small></h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                </p>
                <a href="catalog-info.html">Посмотреть</a>
                <ul class="list-inline">
                    <li class="col-md-3">Кошка Джуля</li>
                    <li class="col-md-3">53 просмотров</li>
                    <li class="col-md-3">102 комментариев</li>
                    <li class="col-md-3">опубликовано: 17.05.2015</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>